<a href="https://colab.research.google.com/github/Soutrik-01/Soutrik-01/blob/main/DAV_assignmentipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [ ]:
path = "https://raw.githubusercontent.com/Soutrik-01/randomData/main/covid_data.csv"

In [ ]:
df = pd.read_csv(path, encoding='ISO-8859-1')

In [ ]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [ ]:
newData = df[df['Date_reported']=='03-06-2022']

In [ ]:
print(newData)

       Date_reported Country_code            Country WHO_region  New_cases  \
882       03-06-2022           AF        Afghanistan       EMRO          0
1765      03-06-2022           AL            Albania       EURO         54
2648      03-06-2022           DZ            Algeria       AFRO          2
3531      03-06-2022           AS     American Samoa       WPRO          0
4414      03-06-2022           AD            Andorra       EURO        173
...              ...          ...                ...        ...        ...
205738    03-06-2022           VN           Viet Nam       WPRO       2208
206621    03-06-2022           WF  Wallis and Futuna       WPRO          0
207504    03-06-2022           YE              Yemen       EMRO          0
208387    03-06-2022           ZM             Zambia       AFRO          0
209270    03-06-2022           ZW           Zimbabwe       AFRO          0

        Cumulative_cases  New_deaths  Cumulative_deaths
882               180419           0               7707
1765              276275           0               3497
2648              265889           0               6875
3531                6192           0                 31
4414               43067           0                153
...                  ...         ...                ...
205738          10722634           1              43080
206621               454           0                  7
207504             11822           0               2149
208387            321779           0               3987
209270            251092           0               5500

[237 rows x 8 columns]

In [ ]:
newData.shape

(237, 8)

In [ ]:
AsianNewData = newData[newData['WHO_region']=='SEARO']

In [ ]:
print(AsianNewData)

       Date_reported Country_code                                Country  \
15010     03-06-2022           BD                             Bangladesh
21191     03-06-2022           BT                                 Bhutan
48564     03-06-2022           KP  Democratic People's Republic of Korea
85650     03-06-2022           IN                                  India
86533     03-06-2022           ID                              Indonesia
112140    03-06-2022           MV                               Maldives
126268    03-06-2022           MM                                Myanmar
128917    03-06-2022           NP                                  Nepal
180131    03-06-2022           LK                              Sri Lanka
186312    03-06-2022           TH                               Thailand
188078    03-06-2022           TL                            Timor-Leste

       WHO_region  New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
15010       SEARO         22           1953563           0              29131
21191       SEARO          0             59628           0                 21
48564       SEARO          0                 0           0                  0
85650       SEARO       4041          43168585          10             524651
86533       SEARO        372           6056017           4             156604
112140      SEARO          0            179753           0                298
126268      SEARO          0            613355           0              19434
128917      SEARO         19            979182           0              11952
180131      SEARO          0            663845           0              16518
186312      SEARO       2976           4460556          32              30113
188078      SEARO          4             22921           0                131

In [ ]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [1]:
newData.describe()

NameError: ignored